
*{
    padding: 0;
    margin-left: 0;
}
#selectId{
    border-radius: 5%;
    margin-left: 30px;
    height: 40px;
    width: 15%;
}

#userInformation{
    width: 100%;
    height:100%;
    /* background-color: yellow; */
    /* margin-bottom: 50px; */
}

#userInformation p{
    margin-left: 30px;
    font-size: 18px;
}

#completeUserInfo{
    padding-top: 2%;
    padding-left: 2%;
    /* background-color: red; */
    width: 100%;
    height: 185px;
    /* margin-top: 2%;
    margin-left: 2%; */
}

/* #userDetails p{
    color: red;
} */

#userDetails{
    /* padding-left: px; */
    width: 30%;
    line-height: 140%;
    /* background-color: rosybrown; */
    border-radius: 5%;
    float: left;
}
#userImage{
    width: 70%;
    float: left;
}

#userImage img {
    border-radius: 20%;
    height: 167px;
    width: auto;
  }
