.card-div{
  /* height: 400px; */
  margin-bottom: 2%;
}

.card-customize{
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.card-customize a:hover{
  text-decoration: none;
}

.card-customize a{
  color: black;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.tumbnail{
  border:0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-body-customized{
  /* height: 100%; */
  padding: 10px;
  
}

.video_wrapper{
  position:relative;
  padding-bottom:56.25%;
  width: 100%;
  margin: 0 auto;
}

.video_wrapper_iframe{
  padding-left: 1%;
  padding-right: 1%;
  position:absolute;
  left:0px;
  top:0px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 90%; /* New width for default modal */
  }
  .modal-sm {
    width: 90%; /* New width for small modal */
  }
}
@media screen and (min-width: 992px) {
  .modal-lg {
    width: 90%; /* New width for large modal */
  }
}

.navbar-customize{
  background-color: #005eac;
  border-radius: 0;
}

.navbar-title-styling{
  font-size:24; color: white; font-weight: 700;
}


/* .card-text{
  color: black;
  font-size: 16px;
  font-weight: 600;
} */


/* .card-customized a:hover{
  text-decoration: none;
  
}

.card-customized a:hover{
  color: black;
}

.card-body-customized {
  font-size: 20px;
  color: black;
  font-weight: 600;
}
.card-body-customized:hover{
} */

  
  
/* .container{ overflow: hidden;}
.content, .sidebar    { padding-bottom: 99999px; margin-bottom: -99999px;} */


/* .navbar-li-customize{
  width: 100%;
} */

/* .form-customize{
  width: 100%; margin: 0;
} */

/* .input-customize{
  
} */

  
/* .btn-customize:hover{
  background-color: #e79000;
} */
  
