.menu-icon-styling:hover span{
    color: white;
}

.menu-icon-styling:hover{ 
    border-color: white;
}

/* .menu-icon-styling span:hover{
    
    margin-left:3px; font-size: 36px; color: grey;
    color: white;
} */
.menu-icon-styling span{
    margin-top: 4px;
    margin-left:6px; 
    margin-right:5px;
    font-size: 30px; color: white;    
}


.menu-icon-styling{
    margin-top: 5px;
    margin-left: 5px;
    height:40px; 
    width: 40px; 
    border: 1px solid grey;
    border-radius: 2px;
    /* color: white; */
}

.navbar2-buttons{
    font-weight: 500; margin:2px; color: #c7c5c8; font-size: 13px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
}


.fa-chevron-left{
    font-size: 5vw;
    color: #CCCCCC;
}

.fa-chevron-left:hover, .fa-chevron-right:hover{
    color: black;
}

.fa-chevron-right{
    font-size: 5vw;
    color: #CCCCCC;
}

.carousel-control-prev{
    height: 30%;
    width: 5%;
    margin-bottom: 7%;
}

.carousel-control-next{
    height: 30%;
    width: 5%;
    margin-bottom: 7%;
}

.background-image-styling{
    transform: scale(1.1); margin-top: 2%;
}


body {
    background-color: #eaeded;
    /* margin:0 1% 0 1%; */
}

.row-cards-styling .card-header{
    background-color: white;
    border-bottom: none;
    padding-bottom: 0;
}
.row-cards-styling .card-body{
    padding: 0 5% 0 5%;
}

.row-cards-styling .card-body a{
    text-decoration: none;
    color: black;
}

.row-cards-styling .card-footer{
    background-color: white;
    border-top: none;
}

.grid-col-styling{
    margin-bottom: 1.5%;
    
}