.nav-signin-button-styling:hover{
    border: 1px solid white;
}

.nav-signin-button-styling{
    border: 1px solid transparent;
    border-radius: 2px;
    /* color: grey;  */
    background-color: #232f3e;
}

.nav-globe-div-styling{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 2px;
    height: 35px;
    /* width: auto; */
    /* height: auto; */
    border: 1px solid transparent;
}

.nav-globe-div-styling:hover{
    border: 1px solid white;
}   

.nav-globe-btn-styling{
    
    width: 45px;
    height: 35px;
}

.nav-s-d-s{

    margin-top: 5px;
    width: 45%;
    /* min-width: 264px; */
    /* width: 500px; */
    height: 35px; 
    /* width:80%; */
}



.nav-search-btn-styling:hover{
    background-color: #febd69;
}

.nav-search-btn-styling{
    border:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color:#febd69;
    width: 45px;
    height: 35px;
}

.form-styling{
    margin-right: -5px;
    padding: 0;
}

.nav-search-box-div{ 
    width: 100%;
    margin:0;
    padding:0;
}



.nav-search-box-styling{
    width: 100%;
    border: none;
    border-width: 1px;
    /* width: 80%; */
    height: 35px;
    padding: 0;
    margin: 0;
}

.form-check-inline{
    margin:0;
    padding:0;
    border:0;
}

.search-panel-form{
    margin: 0px;
    padding: 0px;
}

.search-panel{
    margin-top: 5px;
    height: 50px;
}


.nav-search-dropdown{
    /* font-size: 12px; */
    margin: 0;
    /* padding-left: 5px; */
    border-top: none;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 45px;
    height: 35px;
    /* margin-right: 20px; */
}

.try-prime-link{
    color: #48a3c6;
    font-size: 11px;
    line-height: 11px;
    position: absolute;
    top: 56%;
    left: 57%;
    text-decoration: underline;
    font-weight: 700;
}

.try-prime-link:hover{
    color: white;
}

.back {
    position: relative;
    background-image:url("/img/capture.png");
    /* background-image: image("cpature.png"); */
    /* background-color: lawngreen; */
    width: 130;
    height: 50px;
    margin-left: 3px;

}

.logo-image{
    /* width: 170px; height: 50px; */
    /* background-color: red; */
    width: 130;
    height: 100%;
}

.logo-image:hover{
    border-color: white;
    border-style:solid;
    border-width: 1px;
    border-radius: 2px;
}


.navbar-custom{
    background-color:#232f3e;
    padding:3px;
}

.menu-icon{
    padding: 2px;
    width: 50px;
    height: 50px;
}
.ms{
    margin:0px;
    padding :0px;
}

.m-i{
    /* border-style: solid; */
    border-width: 2px;
    border-style: ridge;
    
    padding:7px 6px 6px 6.5px;
    border-color: grey;
    width:45px;
    height:45px;
    border-radius:5px;
}

.m-i div{
    border-radius: 5px;
    width: 27px;
    height: 3px;
    background-color: white;

}

.m-i:hover{
    border-color: white;
}

.m-i-d1,.m-i-d2{
    margin-bottom: 8px;
}